<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Failed to connect to <%=err.hostname%>.</p>
    <p>The issue could be caused by one of the following:
        <ul>
            <li>The Google API is currently down!</li>
            <li>Your computer was unable to connect to the internet!</li>
        </ul>
    </p>
</body>
</html>