<!DOCTYPE html>
<html lang="en">
        <% include ../head.ejs %>
        <title>Error</title>

<body>
    <p><%=fail%></p>
    <p>The issue could be caused by one of the following:
            <ul>
                <li>The Google API does not have information on the book you are searching for!</li>
                <li>The book you have searched for doesn't currently exist!  Perhaps, you must take matters (a pen) into your own hands and write your own destiny (the book you are searching for)!</li>
            </ul>
        </p>
</body>
</html>