<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/reset.css">

  </head>
  <body>
    <main>
      <p class="header">Best Books!</p>
      <% %>
       <!-- <% include ../pages/new.ejs %> -->
        </main>
  </body>
</html>