<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/reset.css">

  </head>
  <body>
    <main>
      <p class="header">Best Books!</p>
        <a href="/new">
          <input type ="submit" value="Search for new books!">
        </a>
      <% for(var i = 0; i < testing.length; i++){ %>
        <p><%=testing[i].title%><p>
        <p><%=testing[i].authors%><p>
        <p><%=testing[i].description%><p>
        <img src = "<%=testing[i].image_link%>">
        <% } %>

       <!-- <% include ../pages/new.ejs %> -->
        </main>
  </body>
</html>